@tailwind base;

/* Global styles */
html {
  @apply overflow-y-auto overflow-x-hidden;
}

body {
  @apply bg-bg font-sans;
  text-rendering: optimizeLegibility;
}

html body {
  margin-right: 0 !important;
}

/* Normalize link, button, and form styles */
a {
  text-decoration: none;
}

button {
  border-radius: 0;
  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

select {
  text-transform: inherit;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  text-align: inherit;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.75;
}

@tailwind components;

@tailwind utilities;

[data-rmiz-btn-unzoom] {
  /* This is the default unzoom button for the react-medium-image-zoom package*/
  /* It's styled differently than the rest of our site and animates jankily, so hiding for now */
  display: none;
}

[data-rmiz-modal-overlay='visible'] {
  /* This is the background color of the overlay for the react-medium-image-zoom package*/
  background-color: rgba(0, 0, 0, 0.6) !important;
}
