node_modules
build
.DS_Store
.vscode
.vercel
.turbo
dist
.env

# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
artifacts
build
cache
coverage
dist
node_modules
typechain

# files
*.env
*.log
.DS_Store
.pnp.*
coverage.json

packages/contracts-v2/plugin-repo-info-dev.json

*.bkp
