@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/calibre-regular.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/TestCalibre-RegularItalic.otf') format('opentype');
} */

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/calibre-medium.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/TestCalibre-MediumItalic.otf') format('opentype');
} */

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/calibre-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/calibre-bold.woff2') format('woff2');
}
