@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/TestCalibre-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/TestCalibre-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/TestCalibre-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/TestCalibre-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/TestCalibre-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/TestCalibre-BoldItalic.otf') format('opentype');
}

