@tailwind base;

@layer base {
  :root {
    /* These override the privy modal color defaults */
    --privy-border-radius-sm: 12px !important;
    --privy-border-radius-md: 12px !important;
    --privy-border-radius-mdlg: 12px !important;
    --privy-border-radius-lg: 12px !important;
    --privy-border-radius-full: 12px !important;
    --privy-color-background: #ffffff !important;
    --privy-color-background-2: #f6f6f6 !important;
    --privy-color-foreground: #000000 !important;
    --privy-color-foreground-2: #202020 !important;
    --privy-color-foreground-3: #b6b6b6 !important;
    --privy-color-foreground-4: #dbdbdb !important;
    --privy-color-foreground-accent: 'your-custom-value';
    --privy-color-accent: #3963fe !important;
    --privy-color-accent-light: #3963fe !important;
    --privy-color-accent-dark: 'your-custom-value';
    --privy-color-success: #2ace9d !important;
    --privy-color-error: #ff523a !important;
  }
}

/* Global styles */
html {
  @apply min-h-screen overflow-y-auto overflow-x-hidden;
}

body {
  @apply min-h-screen bg-white;
  font-family: var(--font-calibre), sans-serif;
  text-rendering: optimizeLegibility;
}

html body {
  margin-right: 0 !important;
}

/* Normalize link, button, and form styles */
a {
  text-decoration: none;
}

button {
  border-radius: 0;
  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

select {
  text-transform: inherit;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  text-align: inherit;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.75;
}

.not-editable .is-empty {
  @apply !invisible;
}

@tailwind components;

/* Gradients */
@layer utilities {
  .bg-gradient-grey {
    background: linear-gradient(64deg, #f0f3ff 0%, #f0f3ff 100%);
  }
  .bg-gradient-blue {
    background: linear-gradient(109deg, #b0d4ff 12.96%, #bdefff 87.04%);
  }
  .bg-gradient-green {
    background: linear-gradient(64deg, #9fffbf 0%, #ccfcff 100%);
  }
  .bg-gradient-orange {
    background: linear-gradient(64deg, rgba(255, 161, 52, 0.3) -17.64%, rgba(255, 82, 58, 0.3) 100%);
  }
  .bg-gradient-purple {
    background: linear-gradient(
      64deg,
      rgba(254, 83, 61, 0.3) 0%,
      rgba(243, 32, 184, 0.3) 31.69%,
      rgba(91, 36, 246, 0.3) 100%
    );
  }
  .bg-gradient-yellow {
    background: linear-gradient(109deg, #ffcdb0 12.96%, #f9f6a8 87.04%);
  }
  .bg-gradient-geo {
    background: linear-gradient(46deg, #bafeff 0%, #e5c4f6 47.02%, #ffcbb4 93.78%, #c7f5fd 160.1%);
  }
}

@tailwind utilities;

[data-rmiz-btn-unzoom] {
  /* This is the default unzoom button for the react-medium-image-zoom package*/
  /* It's styled differently than the rest of our site and animates jankily, so hiding for now */
  display: none;
}

[data-rmiz-modal-overlay='visible'] {
  /* This is the background color of the overlay for the react-medium-image-zoom package*/
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Provide space for the gap cursor */
.ProseMirror {
  @apply pb-8;
}

.ProseMirror > * + * {
  @apply mt-3;
}

.ProseMirror img {
  @apply h-auto max-w-full;
}

/* Hide scrollbar utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Font utility classes */
.font-inherit {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

/* Radix UI utility classes */
.elevated-popover > [data-radix-popper-content-wrapper] {
  z-index: 1001 !important;
}

/* Radix UI fixes */
/* see https://github.com/radix-ui/primitives/issues/2908*/
[data-radix-popper-content-wrapper] {
  width: var(--radix-popper-anchor-width);
}
