@tailwind base;

/* Global styles */
html {
  @apply overflow-y-auto overflow-x-hidden;
}

body {
  @apply bg-white;
  font-family: Calibre, sans-serif;
  text-rendering: optimizeLegibility;
}

html body {
  margin-right: 0 !important;
}

/* Normalize link, button, and form styles */
a {
  text-decoration: none;
}

button {
  border-radius: 0;
  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

select {
  text-transform: inherit;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  text-align: inherit;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.75;
}

@tailwind components;

/* Gradients */
@layer utilities {
  .bg-gradient-grey {
    background: linear-gradient(64deg, #f0f3ff 0%, #f0f3ff 100%);
  }
  .bg-gradient-blue {
    background: linear-gradient(64deg, rgba(57, 99, 254, 0.3) 0%, rgba(70, 245, 245, 0.3) 100%);
  }
  .bg-gradient-green {
    background: linear-gradient(64deg, #9fffbf 0%, #ccfcff 100%);
  }
  .bg-gradient-orange {
    background: linear-gradient(64deg, rgba(255, 161, 52, 0.3) -17.64%, rgba(255, 82, 58, 0.3) 100%);
  }
  .bg-gradient-purple {
    background: linear-gradient(
      64deg,
      rgba(254, 83, 61, 0.3) 0%,
      rgba(243, 32, 184, 0.3) 31.69%,
      rgba(91, 36, 246, 0.3) 100%
    );
  }
}

@tailwind utilities;

[data-rmiz-btn-unzoom] {
  /* This is the default unzoom button for the react-medium-image-zoom package*/
  /* It's styled differently than the rest of our site and animates jankily, so hiding for now */
  display: none;
}

[data-rmiz-modal-overlay='visible'] {
  /* This is the background color of the overlay for the react-medium-image-zoom package*/
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Provide space for the gap cursor */
.ProseMirror {
  @apply pb-8;
}

.ProseMirror > * + * {
  @apply mt-3;
}

.ProseMirror img {
  @apply h-auto max-w-full;
}

/* Hide scrollbar utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
