@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/TestCalibre-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/TestCalibre-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/TestCalibre-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/TestCalibre-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/TestCalibre-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/TestCalibre-BoldItalic.otf') format('opentype');
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

