/* Display Placeholders on every new line. */
.ProseMirror .is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Display a Placeholder only for the first line in an empty editor. */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1 {
  @apply text-largeTitle;
}

.ProseMirror h2 {
  @apply text-mediumTitle;
}

.ProseMirror h3 {
  @apply text-smallTitle;
}

.ProseMirror p {
  @apply text-body;
}

.ProseMirror > * {
  margin-bottom: 16px;
}
