.ProseMirror .tiptap-block {
  position: relative;
}

.ProseMirror .tiptap-block .tiptap-menu-trigger {
  opacity: 0;
  transition: opacity 0.2s;
}

.ProseMirror .tiptap-block:hover .tiptap-menu-trigger {
  opacity: 1;
}

.ProseMirror .tiptap-menu-trigger {
  position: absolute;
  padding-right: 24px;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
}

/* Display Placeholders on every new line. */
.ProseMirror .is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Display a Placeholder only for the first line in an empty editor. */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  @apply mt-10;
}

.ProseMirror > h1:first-child,
.ProseMirror > h2:first-child,
.ProseMirror > h3:first-child {
  @apply mt-0;
}

.ProseMirror h1 {
  @apply text-largeTitle;
}

.ProseMirror h2 {
  @apply text-mediumTitle;
}

.ProseMirror h3 {
  @apply text-smallTitle;
}

.ProseMirror p {
  @apply text-body;
}

.ProseMirror strong {
  @apply font-semibold;
}

.ProseMirror img {
  @apply rounded;
}

.ProseMirror > * {
  margin-bottom: 16px;
}

.ProseMirror .node-tableNode {
  @apply mt-8;
}

.ProseMirror ul {
  @apply contents;
}

.ProseMirror ul li {
  @apply ml-4 list-item list-disc;
}
