name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_APP_ENV: production
      NEXT_PUBLIC_GEOGENESIS_RPC: https://rpc.geogenesis.io
      NEXT_PUBLIC_GEOGENESIS_RPC_TESTNET: https://rpc-testnet.geogenesis.io
      NEXT_PUBLIC_API_ENDPOINT: https://api.geogenesis.io
      NEXT_PUBLIC_API_ENDPOINT_TESTNET: https://api-testnet.geogenesis.io
      NEXT_PUBLIC_BUNDLER_RPC: https://bundler.geogenesis.io
      NEXT_PUBLIC_BUNDLER_RPC_TESTNET: https://bundler-testnet.geogenesis.io
      NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: '1234'
      NEXT_PUBLIC_PRIVY_APP_ID: 'clpsvsqpt005fl70fe775owo5'
      NEXT_PUBLIC_PIMLICO_API_KEY: '1234'
      NEXT_PUBLIC_PIMLICO_RPC_URL: ''
      NEXT_PUBLIC_ONBOARD_FLAG: '1234'
      NEXT_PUBLIC_ONBOARD_CODE: '1234'
      GEO_PK: '0x904403559d04da2d63089de2f903aa6cebe19cb3dc6490ad3a885261880ee874'
      IPFS_KEY: 'a'
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun turbo run --filter=web build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: .next/

  test:
    needs: build
    name: 'Test'
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_APP_ENV: production
      NEXT_PUBLIC_GEOGENESIS_RPC: https://rpc.geogenesis.io
      NEXT_PUBLIC_GEOGENESIS_RPC_TESTNET: https://rpc-testnet.geogenesis.io
      NEXT_PUBLIC_API_ENDPOINT: https://api.geogenesis.io
      NEXT_PUBLIC_API_ENDPOINT_TESTNET: https://api-testnet.geogenesis.io
      NEXT_PUBLIC_BUNDLER_RPC: https://bundler.geogenesis.io
      NEXT_PUBLIC_BUNDLER_RPC_TESTNET: https://bundler-testnet.geogenesis.io
      NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: '1234'
      NEXT_PUBLIC_PRIVY_APP_ID: 'clpsvsqpt005fl70fe775owo5'
      NEXT_PUBLIC_PIMLICO_API_KEY: '1234'
      NEXT_PUBLIC_PIMLICO_RPC_URL: ''
      NEXT_PUBLIC_ONBOARD_FLAG: '1234'
      NEXT_PUBLIC_ONBOARD_CODE: '1234'
      GEO_PK: '0x904403559d04da2d63089de2f903aa6cebe19cb3dc6490ad3a885261880ee874'
      IPFS_KEY: 'a'
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun turbo run --filter=web test

  lint:
    needs: build
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: Install dependencies
        run: bun install

      - name: Run linting
        run: bun turbo run --filter=web lint
