@tailwind base;

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/apercu-regular-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/apercu-medium-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/apercu-bold-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/apercu-black-pro.otf') format('opentype');
}

a {
  text-decoration: underline;
  cursor: pointer;
}

body {
  font-size: 15px;
  min-width: 100vw;
  min-height: 100vh;
  @apply bg-stone-100 text-stone-900 font-sans;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

.navbar {
  @apply z-10;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout {
  margin: auto;
  max-width: 120ch;
  padding: 6ch 2ch;
}

.gpy-10 {
  padding: 10px 0;
}

.editor {
  @apply prose prose-lg prose-stone max-w-none focus:outline-none;
}

.text-geo-body {
  font-size: 17px;
  line-height: 24px;
}

.text-geo-subheadline {
  font-size: 15px;
  line-height: 20px;
}

.text-geo-title2 {
  font-size: 22px;
  line-height: 32px;
}

@tailwind components;
@tailwind utilities;
